body {
  padding-top: 86px;
}

.thumbnail p {
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover {
  text-decoration: none;
}

.card,
.jumbotron {
  text-align: center;
}

.card .img-responsive,
.jumbotron {
  margin: auto;
}

.route-wrapper {
  position: absolute;
}

.inner-transition {
  position: absolute;
}
.liked{
  color: red;
}