body {
  padding-top: 86px;
}

*:focus {
  outline: 0;
}

.thumbnail p {
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.card,
.jumbotron {
  text-align: center;
}

.card .img-responsive,
.jumbotron {
  margin: auto;
}

.card img {
  width: auto;
  min-width: 50%;
  height: auto;
}

.thumbnail img {
  min-width: 100%;
}

.inner-transition {
  position: absolute;
  left: 0;
  max-width: 100%;
}

.liked {
  color: #ff0000;
}

.info div {
  padding: 0 10px;
  display: inline-block;
  line-height: 1.3em;
  font-size: 1.3em;
}

.like {
  padding: 0;
  background: none;
  border: none;
  transition: 0.1s ease-out;
}
.like:hover{
  background-color: rgba(200,200,200, 0.3);
}
.like:active {
  transform: scale(1.1);
}

.rotating * {
  transition: 0.3s ease-out;
}

.rotating:hover * {
  transform: rotate(90deg);
}

.modal-dialog .close {
  transform: rotate(-90deg) scale(0);
}

.modal-dialog:hover .close {
  transform: rotate(0) scale(1);
}

