body {
  padding-top: 86px;
}

.thumbnail p {
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover {
  text-decoration: none;
}

.card{
  text-align: center;
}

.route-wrapper{
  position: absolute;
}